* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{ 
    background-image: linear-gradient( 270.3deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100% );
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.content p{
    color: #fff;
}

.about {
    margin-bottom: 20px ;
}
.about p{
    margin: 0;
    padding: 40px;
}

.profile {
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);;
    /* flex-direction: column; */
    /* untuk menempatkan profil di tengah */
    
    margin: 180px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 100%;
    border-radius: 50%;
    display: block;
}

.author p {
    margin-bottom: 30px;
}

.button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CBB17;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /*  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.button a:hover{
    background-color: #45A314;
}

.icons{
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
}

.icons a{
    margin: 0 12px;
    display: block;
}

.icons img{
    width: 20px;
    height: auto;
    max-height: 100%;
    vertical-align: middle ;
}


/* Media query untuk perangkat dengan lebar kurang dari atau sama dengan 768px */
@media screen and (max-width: 768px) {
    .icons img {
        width: 25px; /* Menetapkan lebar ikon menjadi lebih kecil pada perangkat kecil */
    }
}

@media screen and(max-width: 480px) {
    .icons img{
        width: 15px;
    }
    
}
@media screen and(max-width:820px) {
    .icons img{
        width: 50px;
    }
    
}